# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Environnements virtuels
tf_env/
venv/
env/
ENV/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Fichiers temporaires
*.tmp
*.bak